.Rhistory
.Rproj.user/7648E9E5/pcs/files-pane.pper
.Rproj.user/7648E9E5/pcs/source-pane.pper
.Rproj.user/7648E9E5/pcs/windowlayoutstate.pper
.Rproj.user/7648E9E5/pcs/workbench-pane.pper
.Rproj.user/7648E9E5/sources/prop/236F7E13
.Rproj.user/7648E9E5/sources/prop/FA075D31
.Rproj.user/7648E9E5/sources/prop/INDEX
.Rproj.user/7648E9E5/sources/session-450deee/73B5D5BE-contents
.Rproj.user/7648E9E5/sources/session-450deee/9F094811
.Rproj.user/7648E9E5/sources/session-450deee/9F094811-contents
.Rproj.user/7648E9E5/sources/session-450deee/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
datavisualisering.Rproj
